.App {
  text-align: center;
}

body {
  background-image: url('./images/background.png');
  color: white;
}

.planets-card {
  display: flex;
  flex-wrap: nowrap;
}

.planet-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  align-items: center;
  border: solid 1px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  padding: 20px;
  width: 40%;
}

.missions-card {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 1%;
  width: 100%;
}

.mission-card {
  align-items: center;
  border: solid 1px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 1%;
  width: 300px;
}

.mission-name {
  font-size: 21px;
  font-weight: 700;
}

img {
  width: 100px;
}
